body {
	background: #fff;
	font-family: 'Varela Round', sans-serif;
}

.no-margin{
	margin: 0;
}

.no-padding{
	padding: 0;
}

/*
.table-responsive-lg{
	overflow: visible;
}
*/
/*.tableFixHead          { overflow-x: auto; }*/
.tableFixHead thead th { position: sticky; top: 0; }
.tableFixHead tbody th { position: sticky; left: 0; }

/* Just common table stuff. Really. */
/*table  { border-collapse: collapse; width: 100%; }*/